
@font-face {
    font-family: 'Midnight-Moon';
    src: url('../font/Midnight-Moon.eot'); /* IE9 Compat Modes */
    src: url('../font/Midnight-Moon.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../font/Midnight-Moon.woff') format('woff'), /* Pretty Modern Browsers */
	url('../font/Midnight-Moon.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('../font/Midnight-Moon.svg#svgFontName') format('svg'); /* Legacy iOS */
}



*{
    margin:0px;
    padding:0px;
}

body{
    font-family: 'Montserrat', sans-serif;
}

a{
    webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

nav.navbar{
    padding:25px 10px;
    background: rgba(255, 255, 255, 1) !important;
    border: 0px;
    min-height:85px;
    margin-bottom:0px;
}

.navbar-default .navbar-nav>li>a{
    padding: 0 20px;
    font-size: 16px;
    margin-top: 35px;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover{
    background:transparent;
    color:#ec315c;	
}

.nav.navbar-nav.navbar-right{
    margin-top:5px;
}

.navbar-default .navbar-brand{
    padding:0px;
}

.navbar-brand img{
    max-width:118px;
    transition: 0.8s;
    -webkit-transition: 0.8s;
}

.navbar.affix {
    position: fixed;
    -webkit-box-shadow: 0px 2px 8px -2px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 2px 8px -2px rgba(0,0,0,0.35);
    box-shadow: 0px 2px 8px -2px rgba(0,0,0,0.35);
}

.navbar-default.affix {
    min-height: 70px;
    transition: 0.8s;
    background:rgba(255, 255, 255, 0.8) !important;
    -webkit-transition: 0.8s;
    padding-bottom: 15px;
}

.navbar-default.affix .navbar-brand>img {
    display: block;
    max-width: 92px;
}

.navbar.affix .nav.navbar-nav.navbar-right{
    margin-top:0px;
}

.too-bar{
    position:absolute;
    width:100%;
    left:0;
    right:0;
    height:4px;
    top:0;
    background:#192838;
}


.top-info-header{
    position: absolute;
    right: 0;
    width: 60%;
    top: 4px;
    padding: 9px 20px;
    background: #192838;
    color: #fff;
    padding-top: 4px;
    font-size: 13px;
    height: 32px;
    display: block;
}

.top-info-header span{
    padding-left:10px;
    padding-right:15px;
    float:left;
}

.top-info-header span i{
    color:#fd6458;
}

.top-info-header:after {
    content: "";
    position: absolute;
    left: -50px;
    bottom: 0;
    width: 0;
    height: 0;
    border-top: 50px solid #192838;
    border-left: 50px solid transparent;
}

.top-social{
    float:left;
    padding-left:20%;
    position: relative;
    top: -3px;
}

.top-social a{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin:0px 1px 0 2px;
    color: #333;
    background: #fff;
    text-align: center;
    border-radius: 100px;
    cursor:pointer;
}

.top-social a:hover{
    background:#fd6458;
    color:#fff;
}

.top-social a i{
    line-height:24px;
}

#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

.owl-carousel {
    position: relative;
    height: 100%;
}
.main-slider .owl-controls {
    position: absolute;
    left: 0;
    right: 0;
    top: 44%;
    z-index:2;
}

.main-slider h1{
    color: #fff;
    font-family: 'Midnight-Moon';
    top: 37%;
    font-size:7em;
    text-align: center;
    width: 100%;
    margin-bottom:40px;
}

.main-slider h1 span{
    display:block;
    color:#00f394;
}

.main-slider .owl-buttons .owl-prev,
.main-slider .owl-buttons .owl-next{
    position: absolute;
    font-size: 34px !important;
    border-radius: 4px !important;
}

.main-slider .owl-buttons .owl-prev{
    left: 10px;
}

.main-slider .owl-buttons .owl-next{
    right: 10px;
}

#owl-demo2 .item{
    margin:10px;
}


.owl-prev {
    left: 5px;
}

.owl-next {
    right: 5px;
}

.owl-pagination{
    position: absolute;
    bottom:60px;
    width: 100%;
}

#particles-js {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index:1;
}

.main-slider{
    position:relative;
}

.main-slider .slide1 {
    background-img:url(../img/rajkot-mahila-college-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-tab{
    position:absolute;
    width:100%;
    z-index:1;
    top:30%;
}

.banner-tab .nav-tabs li:first-child{
    margin-left:20px;
}

.banner-tab .nav-tabs li {
    margin-bottom: 0px;
}

.banner-tab .nav-tabs{
    border-bottom:0px;
}

.banner-tab .nav-tabs>li>a{
    padding: 15px 35px;
    background:#fff;
    font-size:18px;
    color:#3d4142;
}

.banner-tab .nav-tabs li.active a:before{
    font-family: FontAwesome;
    margin-right:12px;
    content:"\f00c";
}

.banner-tab .nav-tabs li.active a{
    color:#f04830;
    background:rgba(255, 255, 255, 0.9);
}


.banner-tab .tab-content{
    padding:30px;
    background:rgba(255, 255, 255, 0.9);
    border-radius:5px;
}

.banner-tab .form-inline .form-group{
    display:block;
}

.banner-tab .tab-content input,
.banner-tab .tab-content select{
    width: 100%;
    display: block;
    border: 0px;
    border-bottom: 2px solid #fd6559;
    border-radius: 0;
    box-shadow: none;
    padding: 5px;
    height: 50px;
    line-height: 50px;
    outline:none;
    background:transparent;
}

.banner-tab .tab-content button{
    width:100%;
    background:#fd6559;
    color:#fff;
    height:50px;
    line-height:50px;
    padding:0px;
    border:1px solid #fd6559;
}

.our-story{
    background:url(../img/abtus.jpg) repeat fixed;
    background-position:center;
    background-size:cover;
    height:480px;
}

.our-mission{
    background:url(../img/mission.png) repeat fixed;
    background-position:center;
    background-size:cover;
    height:480px;
}

.payment-info{
    padding:50px 0;
}

.pay-info-inn{
    background: #dff9e1;
    border: 2px dashed #538756;
    padding:20px;
    text-align:center;
    line-height:35px;
    font-size:18px;
    min-height:280px;
    margin-bottom:20px;
    color:#3798ff;
}

.pay-info-inn img{
    max-width:100%;
    opacity:0.06;
}

.pay-info-inn h2{
    margin-top:0px;
    color:#538756;
}

.pay-info-inn span{
    font-weight: 500;
    color: rgba(6, 6, 6, 0.84);
    font-style: italic;
    font-size:20px;
}

form .stars {
    background:url(../img/stars.png) repeat-x 0 0;
    width: 150px;
    margin: 0 auto;
}

form .stars input[type="radio"] {
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
}

form .stars input[type="radio"].star-5:checked ~ span { width: 100%; }

form .stars input[type="radio"].star-4:checked ~ span { width: 80%; }

form .stars input[type="radio"].star-3:checked ~ span { width: 60%; }

form .stars input[type="radio"].star-2:checked ~ span { width: 40%; }

form .stars input[type="radio"].star-1:checked ~ span { width: 20%; }

form .stars label {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0!important;
    padding: 0!important;
    text-indent: -999em;
    float: left;
    position: relative;
    z-index: 10;
    background: transparent!important;
    cursor: pointer;
}

form .stars label:hover ~ span { background-position: 0 -30px; }

form .stars label.star-5:hover ~ span { width: 100% !important; }

form .stars label.star-4:hover ~ span { width: 80% !important; }

form .stars label.star-3:hover ~ span { width: 60% !important; }

form .stars label.star-2:hover ~ span { width: 40% !important; }

form .stars label.star-1:hover ~ span { width: 20% !important; }

form .stars span {
    display: block;
    width: 0;
    position: relative;
    top: 0;
    left: 0;
    height: 30px;
    background: url("../img/stars.png") repeat-x 0 -60px;
    -webkit-transition: -webkit-width 0.5s;
    -moz-transition: -moz-width 0.5s;
    -ms-transition: -ms-width 0.5s;
    -o-transition: -o-width 0.5s;
    transition: width 0.5s;
}



.benefit-right {
    float: right;
    padding: 0px;
}

.benefit-left{
    float:left;
    padding:0px;
}

.benefit-text {
    display: table-cell;
    vertical-align: middle;
    height:480px;
    padding:22px;
    background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
}

.our-misn .benefit-text{
    background:transparent;
}

.our-misn h2{
    text-align: center;
    color: #fff;
    font-size: 50px;
    padding-left: 31%;
    padding-right:0px;
}

.benefit-text p{
    line-height:28px;
}

.term-condition{
    font-size:16px;
    padding-bottom:40px;
    line-height:35px;
}

.student-info{
    background:url(../img/student-info-bg.jpg) repeat;
    background-size:cover;
    padding-top:5px !important;
}

.student-form-box{
    max-width:650px;
    padding:30px;
    margin:90px auto;
    background: #fff;
    border-radius:6px;
}

input[type="file"]{
    color: #333;
    height:auto;
}

.student-form-box form input,
.student-form-box form select{
    height:45px;
    line-height:45px;
    border:1px solid #cccccc;
    box-shadow:none;
    padding:6px 10px;
}

.student-form-box form select{
    width: 100%;
}

.student-form-box form .form-group .cols-sm-10 .row,
.student-form-box .form-group .row{
    margin-left:-8px;
    margin-right:-8px;
}

.student-form-box form .form-group .cols-sm-10 .row .col-sm-8,
.student-form-box form .form-group .cols-sm-10 .row .col-sm-4,
.student-form-box .form-group .row .col-sm-6{
    padding-left:8px;
    padding-right:8px;
}

.student-form-box .form-control:focus {
    border:1px solid #be5842;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.15), 0 0 5px rgb(190, 88, 16);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.15), 0 0 5px rgb(208, 94, 17);
}

.student-form-box h2{
    margin-top:0px;
    margin-bottom:30px;
}

.student-form-box #button {
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #e56330 , #cb5464); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #e56330 , #cb5464); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #e56330 , #cb5464); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #e56330 , #cb5464); /* Standard syntax */
    border:1px solid #e56330;
    text-transform:uppercase;
}

.student-form-box .input-group.radio-inline{
    width:100%;
}

input#IsSmallBusiness{
    height:auto;
}

/*-- start main container --*/

#main-container{
    padding:60px 0;
    padding-bottom:0px;
}

.main-heading h2{
    text-align: center;
    margin-top: 0px;
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 60px;
}

.main-heading h2 span{
    display: block;
    font-size: 15px;
    font-weight: normal;
    line-height: 22px;
    margin-top: 4px;
    text-transform:none;
}

.top-tutor{
    padding-bottom:60px;
}

.tutor-box{
    border: 1px solid #27ae60;
    padding: 30px;
    border-radius: 4px;
    text-align: center;
    max-width: 350px;
    margin: 20px auto;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.05);
    -webkit-transition: all 0.6s cubic-bezier(0.165,0.84,0.44,1);
    -moz-transition: all 0.6s cubic-bezier(0.165,0.84,0.44,1);
    -o-transition: all 0.6s cubic-bezier(0.165,0.84,0.44,1);
    transition: all 0.6s cubic-bezier(0.165,0.84,0.44,1);
}

.tutor-box:hover{
    -webkit-transform: translate(0,-8px);
    -moz-transform: translate(0,-8px);
    -ms-transform: translate(0,-8px);
    -o-transform: translate(0,-8px);
    transform: translate(0,-8px);
    box-shadow: 0 40px 40px rgba(0,0,0,.16);
}

.tutor-box img{
    max-width:100px;
    height:100px;
    width:100%;
    margin:30px auto;
}

.tutor-box h3{
    margin-top: 10px;
    font-size: 20px;
    font-weight: normal;
    color: #9e9c9c;
}

.tutor-box p{
    line-height:27px;
    margin-bottom:0px;
}

.working-hour{
    background:#f7f7f7 url(../img/texture.jpg) repeat;
    padding:40px 0 20px;
}

.counter_block {
    margin: 20px 0px;
    text-align: center;
}
.counter {
    margin: 0 0 10px;
    font-size: 35px;
    line-height: 30px;
    color: #ff4f37;
    font-weight: 600;
}

.member_institute, 
.member_tutor {
    margin: 0 auto;
    display: block;
    font-weight: 600;
    text-transform: uppercase;
    color: #272727;
    height: 40px;
    line-height:30px;
    font-size: 20px;
}

.client-restimonials {
    padding-top: 5% !important;
    padding-bottom: 5% !important;
    position: relative;
    overflow: hidden;
    background:#269468;
    color:#fff;
}

.client-restimonials .owl-item .item{
    margin:15px;
    position:relative;
}

.testi-info{
    background:#46a47f;
    padding:30px;
    padding-bottom:80px;
    position:relative;
    border-radius:5px;
}

.cd-author-info li img{
    width: 100px;
    height: 100px;
    margin: 20px auto;
}

.client-restimonials .owl-prev,
.client-restimonials .owl-next{
    width: 42px;
    height: 42px;
    line-height: 30px;
    text-align: center;
    font-size: 34px !important;
    color: #000 !important;
    background: transparent !important;
    border: 2px solid #000;
    padding: 0px !important;
}


.fa-quote-left{
    position: absolute;
    top: 8px;
    font-size: 28px;
    left: 13px;
    color: #fff;
}

.fa-quote-right{
    position: absolute;
    right: 16px;
    bottom: 42px;
    color: #fff;
    font-size: 28px;
}

.cd-author-info {
    list-style: none;
    position: relative;
    margin-top: -75px;
}

.cd-author-info li:nth-child(2){
    text-transform:uppercase;
    font-size:18px;
    color:#fff;
    font-weight:500;
}

.cd-author-info li:last-child{
    text-transform:none;
    font-size:15px;
    color:#6ac190;
    margin-bottom:30px;
}

#owl-demo3 p{
    line-height:27px;
    font-style:italic;
    font-size:17px;
}

.client-section{
    padding-top:60px;
}

.map-main{
    width:100%;
}

.get-in-touch{
    padding: 30px;
    margin-bottom:80px;
    width: 100%;
    border-radius: 5px;
    position: relative;
    margin-top: -90px;
    background: #fff;
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.get-in-touch:before{
    content:"";
    position:absolute;
    right:0;
    top:0;
    bottom:0;
    background:#00adef;
    width:50%;
}

.left-side-c,
.right-side-c{
    padding:0 20px;
}


.get-in-touch h2{
    margin: 0px;
    margin-bottom:35px;
    position: relative;
}

.get-in-touch h2:before{
    content:"";
    width:100px;
    height:2px;
    left:0px;
    background: #F00;
    display: block;
    bottom: -5px;
    position: absolute;
}

.right-side-c{
    color:#fff;
}

.right-side-c h4{
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 13px;
}

.left-side-c input{
    height:45px;
    line-height:45px;
    padding:0 10px;
    border:1px solid #b0afaf;
    box-shadow:none;
}

.left-side-c textarea{
    border:1px solid #b0afaf;
    box-shadow:none;
}

.left-side-c button{
    display: inline-block;
    height: 45px;
    line-height: 45px;
    background: #ff5046;
    border: 1px solid #ff5046;
    color: #fff;
    text-transform: uppercase;
    border-radius: 80px;
    padding: 0 40px;
    font-weight: bold;
    font-size: 16px;
    outline:none;
}

.right-side-c h4 span{
    display:block;
    font-size:16px;
    color:#a9e1f7;
}

.banner-half{
    background:url(../img/half-banner.jpg) repeat-x;
    padding-top:33px;
    text-align:center;
    color:#fff;
    padding-bottom:30px;
}

.banner-half h1{
    margin-top:0px !important;
}


.map-main iframe{
    width:100%;
}

.testimonials-page {
    padding-bottom: 60px;
    float: left;
}

.testimonial-container{
    background:#eef2f5;
}

.testimonial-container .testi-info{
    background:#fff;
    text-align:center;
    padding-bottom:20px;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
}

.testimonial-container .testi-info:hover{
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.03);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.03);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.03);
    transition: all 200ms ease-in;
    transform: scale(1.03);
}

.testimonial-container .tes_item.item{
    margin-bottom:10px;
}

.rular_line {
    position: relative;
}

.rular_line:before {
    right: 100%;
    margin-right: 10px;
}

.rular_line:before, .rular_line:after {
    content: "";
    position: absolute;
    height: 4px;
    border-bottom: 1px solid #ff4f37;
    border-top: 1px solid #ff4f37;
    width: 80px;
    bottom: 9px;
}

.testimonial-container .rular_line .fa {
    color: #ff4f37;
    font-size: 26px !important;
    position: relative;
    top: 0;
    left: -5px;
}

.testimonial-container .cd-author-info {
    margin-top:15px;
}

.testimonial-container .cd-author-info li:first-child{
    color: #292828;
    font-size: 18px;
}

.testimonial-container .cd-author-info li:first-child span{
    font-weight:500;
    font-size:19px;
}

.testimonial-container .cd-author-info li:last-child{
    margin-bottom:0px;
    font-weight:normal;
}

.testimonial-container .testi-info p{
    font-size:15px;
    line-height:27px;
}

.tes_item.item{
    padding:12px;
}

.testimonial-container .testi-info:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 14px 0 14px;
    border-color: #fff transparent transparent transparent;
    position: absolute;
    left: 50%;
    bottom: -18px;
    margin-left: -10px;
}

/*-- footer ---*/

.footer{
    background-color: #222;
    color: #fff;
    text-decoration: none;
    position:relative;
}


.ftr-row {
    clear: both;
}

.contact_wrapper {
    line-height: 30px;
    color:#ccc;
}

.address-content{
    margin-bottom:10px;
}

.address-content .fa{
    font-size: 21px;
    margin-top: 0px;
    margin-right: 5px;
    float: left;
    clear: left;
    line-height: 28px;
    width: 20px;
}

.address_content {
    overflow: hidden;
}

.ftr-text h2{
    margin-top:0px;
    margin-bottom:20px;
    position:relative;
    padding-left:10px;
}

.ftr-text h2 span{
    content: "";
    position: absolute;
    left: -6px;
    height: 25px;
    width: 4px;
    top: 3px;
    background: #27b9e1;
    background: -webkit-linear-gradient(top,#27b9e1,#43dc67);
    background: -o-linear-gradient(bottom,#27b9e1,#43dc67);
    background: linear-gradient(to bottom,#27b9e1,#43dc67);
}

.ftr-text ul{
    margin:0px;
    padding:0px;
    list-style:none;
}

.ftr-text ul li{
    background:url(../img/dot_1.png) left no-repeat;
    padding-left: 15px;
    background-position: 0 5px;
}

.ftr-text ul li:hover {
    background-position: 0 -49px;
}

.ftr-text ul li a{
    display: block;
    font-size: 14px;
    color: #ccc;
    padding: 5px;
}

.ftr-text ul li a:hover{
    color:#00f394;
    text-decoration:none;
}

.ftr-second-row, 
.ftr-fourth-row {
    background: #f15b2a;
    background: -webkit-linear-gradient(left,#27b9e1,#43dc67);
    background: -o-linear-gradient(right,#27b9e1,#43dc67);
    background: linear-gradient(to right,#27b9e1,#43dc67);
}

.ftr-second-row{
    padding:5px 0;
    text-align:center;
}

.ftr-second-row a{
    color:#fff;
    padding:2px 10px;
    font-size:27px;
    font-weight:bold;
}

.ftr-third-row {
    font-weight: lighter;
    color: #b8b8b8;
    font-size: 12px;
    padding:30px 0;
}

.ftr-third-row a{
    color:#b8b8b8;
}

.ftr-third-row .ftr-terms{
    position: relative;
    margin: 0 15px;
    float:right;
}

.ftr-copyright {
    float: left;
    position: relative;
}


@media only screen and (max-width: 1400px) {

    .main-slider h1{
	font-size:6em;
    }

}

@media only screen and (max-width: 1200px) {

    .main-heading h2{
	font-size:40px;
    }

    #owl-demo2 .item img{
	display:block;
	margin:0 auto;
    }

    .banner-tab{
	top:10%;
    }

    .main-slider h1 {
	font-size: 5em;
	margin-bottom:20px;
    }

    .our-story,
    .benefit-text{
	height:534px;
    }

    .our-misn h2{
	padding-left:15%;
    }

}

@media only screen and (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse.in{
	-webkit-box-shadow: 0px 2px 8px -2px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 2px 8px -2px rgba(0,0,0,0.35);
	box-shadow: 0px 2px 8px -2px rgba(0,0,0,0.35);	
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
        text-align:center;
    }

    .navbar-default .navbar-nav>li.active>a:before{
        display:none;
    }

    .collapse.in{
        display:block !important;
    }
    .navbar-default .navbar-toggle {
        border-color: transparent;
        top:6px;
        background-color: transparent;
    }

    #navbar{
        width: 100%;
        background:transparent;
    }

    .navbar.affix #navbar {
        top: 29px;
        transition: 0.8s;
        -webkit-transition: 0.8s;
    }


    #navbar{
	margin-top:20px;
	border-top: 1px solid #333;
    }

    .navbar-default .navbar-nav>li>a {
	text-align:center;
	margin-top:0px;
	padding-left:0px;
	padding-right:0px;
    }

    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:focus,
    .navbar-default .navbar-nav > li.active a{
	color:#f04830 !important;
    }

    .nav.navbar-nav.navbar-right{
	margin-right:0px;
    }

    .navbar-default .navbar-toggle{
	border:0px;
    }

    .navbar-default .navbar-toggle:focus, 
    .navbar-default .navbar-toggle:hover {
	background-color: transparent;
    }

    .navbar-default .navbar-toggle:hover .icon-bar,
    .navbar-default .navbar-toggle:focus .icon-bar {
	background-color: #ec315c;
    }

    .top-social{
	padding-left:2%;
    }

    .top-info-header span{
	padding-left:0px;
    }

    .navbar-toggle{
	float:left;
	position:absolute;
	left:20px;
	top:20px !important;
    }

    nav.navbar {
	padding: 11px 10px;
    }


}



/*--- cp push menu */


@media screen and (max-width: 991px){

    /* General styles for all menus */

    .navbar-default{
        height:50px;
    }

    .navbar-collapse.cbp-spmenu{
        position:fixed;
    }

    .navbar-nav>li>a {
        height: 50px;
        line-height:50px;
        color:#fff !important;
    }

    #bs-example-navbar-collapse-1{
        background:#333;
    }

    .cbp-spmenu {
        background: #47a3da;
        position: fixed;
    }

    .cbp-spmenu h3 {
        color: #afdefa;
        font-size: 1.9em;
        padding: 20px;
        margin: 0;
        font-weight: 300;
        background: #0d77b6;
    }

    .cbp-spmenu a {
        display: block;
        color: #fff;
        font-size: 1.1em;
        font-weight: 300;
    }

    .cbp-spmenu a:hover {
        background: #258ecd;
    }

    .cbp-spmenu a:active {
        background: #afdefa;
        color: #47a3da;
    }

    /* Orientation-dependent styles for the content of the menu */

    .cbp-spmenu-vertical {
        width: 240px;
        height: 100%;
        top: 0;
        bottom:0;
        z-index: 1000;
    }

    .cbp-spmenu {
        position: fixed;
        padding: 0;
        margin: 0 !important;
        overflow-x: hidden;
        overflow-y: visible;
        display: block;
        visibility: visible;
    }

    .cbp-spmenu-vertical a {
        border-bottom: 1px solid #424242;
        padding: 1em;
    }

    .cbp-spmenu-horizontal {
        width: 100%;
        height: 150px;
        left: 0;
        z-index: 1000;
        overflow: hidden;
    }

    .cbp-spmenu-horizontal h3 {
        height: 100%;
        width: 20%;
        float: left;
    }

    .cbp-spmenu-horizontal a {
        float: left;
        width: 20%;
        padding: 0.8em;
        border-left: 1px solid #258ecd;
    }

    /* Vertical menu that slides from the left or right */

    .cbp-spmenu-left {
        left: -260px;
    }

    .cbp-spmenu-right {
        right: -260px;
    }

    .cbp-spmenu-left.cbp-spmenu-open {
        left: 0px;
    }

    .cbp-spmenu-right.cbp-spmenu-open {
        right: 0px;
    }

    /* Horizontal menu that slides from the top or bottom */

    .cbp-spmenu-top {
        top: -150px;
    }

    .cbp-spmenu-bottom {
        bottom: -150px;
    }

    .cbp-spmenu-top.cbp-spmenu-open {
        top: 0px;
    }

    .cbp-spmenu-bottom.cbp-spmenu-open {
        bottom: 0px;
    }

    /* Push classes applied to the body */

    .cbp-spmenu-push {
        overflow-x: hidden;
        position: relative;
        left: 0;
    }

    .cbp-spmenu-push-toright {
        left: 240px;
    }

    .cbp-spmenu-push-toleft {
        left: -240px;
    }

    /* Transitions */

    .cbp-spmenu,
    .cbp-spmenu-push {
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
}


@media only screen and (max-width: 990px) {

    .margin-top{
	margin-top:30px;
    }

    .main-slider h1{
	font-size:4em;
    }

    .our-misn{
	display:none;
    }

}

@media only screen and (max-width:767px) {

    .main-slider h1 {
	font-size: 3em;
    }

    .fa-quote-left{
	left:16px;
    }

    .fa-quote-right{
	right:16px;
    }

    .get-in-touch:before{
	right: 0;
	top: 50%;
	left: 0;
	bottom: 0;
	background: #00adef;
	width: 100%;
    }

    .left-side-c{
	margin-bottom:100px;
    }

    .our-story,
    .benefit-text,
    .our-mission{
	height:auto;
    }

    .top-info-header,
    .too-bar{
	display:none;
    }

    .navbar-brand{
	display:block;
	width:125px;
	margin:0 auto;
	float:inherit;
    }

    .main-slider {
	margin-bottom: 260px;
    }

    .banner-tab {
	top: 45%;
    }

    .banner-tab .tab-content{
	-webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	-moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }

    .banner-tab .tab-content button{
	line-height:45px;
	height:45px;
    }

    .banner-tab .tab-content input, 
    .banner-tab .tab-content select{
	height:40px;
	line-height:40px;
    }

    .benefit-text{
	display:block;
	vertical-align:top;
	height:auto;
    }

    .term-condition{
	padding-left:20px;
	padding-right:20px;
    }

    .term-condition {
	font-size: 14px;
	line-height: 33px;
    }

    .banner-half h1{
	font-size:25px;
    }

    .h2, h2 {
	font-size: 25px;
    }

    .tutor-box{
	padding:20px;
    }

    .tutor-box h2{
	margin-top:0px;
    }

    .tutor-box img{
	margin:18px auto;
    }

    .student-form-box{
	margin:40px auto;
    }

    .working-hour{
	padding: 20px 0 10px;
    }

    .counter{
	font-size:27px;
	margin-bottom:5px;
    }

    .main-heading h2 {
	font-size: 30px;
	margin-bottom:30px;
    }

    .margin-m{
	margin-bottom:15px;
    }

}

@media only screen and (max-width:680px) {

    .main-slider h1 {
	font-size: 2.7em;
    }

    .main-slider .owl-item .item img{
	min-height:240px;
    }

    .main-slider .owl-buttons .owl-prev, .main-slider .owl-buttons .owl-next {
	font-size: 19px !important;
    }

    .ftr-copyright{
	text-align:center;
	margin-bottom:10px;
    }

    .ftr-third-row .ftr-terms{
	width:100%;
	float:left;
	text-align:center;
    }

    .banner-half{
	padding-top:26px;
	padding-bottom:20px;
    }


    .benefit-text{
	padding:2px 12px;
    }

    #main-container{
	padding:30px 0;
	padding-bottom:0px;
    }

    .main-slider {
	margin-bottom: 290px;
    }


}


@media only screen and (max-width:600px) {


    .benefit-text h2,
    .benefit-right h2{
	font-size:22px;
    }

    .student-form-box{
	padding:30px 18px;
    }

    .banner-tab .nav-tabs > li > a{
	padding:15px 20px;
	font-size:16px;
    }

    .main-slider {
	margin-bottom: 310px;
    }

}

@media only screen and (max-width:480px) {

    .main-slider h1 {
	font-size: 2.2em;
	top:31%;
    }

    .ftr-first-row ,
    .ftr-text ul li a,
    #owl-demo3 p,
    .main-heading h2 span{
	font-size: 13px;
    }

    .ftr-text h2{
	font-size:23px;
    }

    .banner-half h1{
	font-size:28px;
    }

    .form-group.radio-line .col-xs-4,
    .form-group.radio-line .col-xs-8{
	width:100%;
    }

}

@media only screen and (max-width:480px) {

    .main-slider h1 {
	font-size: 2.5em;
    }

    .main-heading h2 {
	font-size: 30px;
    }

    .banner-tab .nav-tabs > li > a {
	padding: 14px 14px;
	font-size: 13px;
    }

    .main-slider .owl-item .item img {
	min-height: 190px;
    }

    .banner-tab {
	top: 33%;
    }

    .banner-tab .nav-tabs li:first-child {
	margin-left: 10px;
    }

    .banner-tab .tab-content {
	padding: 20px;
    }

    .main-heading h2 {
	font-size: 24px;
    }


}

@media only screen and (max-width:380px) {

    .h2, h2 {
	font-size: 20px;
    }

    .banner-tab .nav-tabs > li > a {
	padding: 12px 10px;
	font-size: 11px;
    }

    .banner-tab .nav-tabs li {
	margin-bottom: -1px;
    }

    .main-slider .owl-item .item img {
	min-height: 170px;
    }


}

/*
   Spezific styling for salvattore
   Feel free to edit it as you like
   More info at http://salvattore.com
*/

/* Base styles */
.column {
    float: left;
}
.size-1of4 {
    width: 25%;
}
.size-1of3 {
    width: 33.333%;
}
.size-1of2 {
    width: 50%;
}

/* Configurate salvattore with media queries */
@media screen and (max-width: 480px) {
    #timeline[data-columns]::before {
        content: '1 .column';
    }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
    #timeline[data-columns]::before {
        content: '2 .column.size-1of2';
    }
}

@media screen and (min-width: 767px) and (max-width: 1200px) {
    #timeline[data-columns]::before {
        content: '3 .column.size-1of3';
    }
}

@media screen and (min-width: 1200px) {
    #timeline[data-columns]::before {
        content: '4 .column.size-1of4';
    }
}

.tutor-preferred label{
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 15px;
}

.tutor-preferred label input{
    height: auto;
    position: absolute;
    margin-top: 4px\9;
    margin-left: -20px;
}
.Fr-star.size-3{
    margin: 0 auto;
}
