
Hi, Admin<br/>
<h2>Enquiry Detail: </h2>
<table style="border:0px;font-weight:bold;">
    <tr><td>CUSTOMER NAME: <?php echo $contact['name'] ?><td></tr>
    <tr><td>EMAIL ID: <?php echo $contact['email'] ?><td></tr>
    <tr><td>MESSAGE: <?php echo $contact['message'] ?> <td></tr>

</table>
<h3>Garage Villa </h3>

