html, body {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

body {
  font-family: "PT Sans", sans-serif;
  position: relative;
  font-size: 15px;
  line-height: 24px;
  color: #2b2a2a;
  font-weight: 500; }

a,
a:active,
a:focus,
a:hover {
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.section {
  position: relative;
  padding: 10px 0;
  margin: 0px; }

.navbar-inverse {
  background: #fff;
  padding: 14px;
  border-radius: 0px;
  margin-bottom: 0px;
  border: 0px;
  -webkit-box-shadow: 0px 2px 8px -2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 2px 8px -2px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 2px 8px -2px rgba(0, 0, 0, 0.35); }

ul.nav.navbar-nav {
  padding-left: 4%;
  margin-top: 10px; }

.navbar-right {
  padding-left: 0% !important; }

.navbar-nav > li > a {
  color: #fff !important;
  padding: 5px 15px;
  background: #ccc;
  border-radius: 20px;
  margin: 0 4px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px; }

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover {
  background: #f68320 !important;
  color: #fff !important; }

.navbar-brand {
  padding: 5px; }

#home-hero {
  width: 100%;
  min-height: 470px;
  position: relative;
  top: 0px;
  padding-bottom: 50px; }

.omb_login {
  position: relative; }

hr.omb_hrOr {
  border-top: 1px solid #676666;
  max-width: 350px; }

.omb_spanOr {
  display: block;
  position: absolute;
  left: 50%;
  top: 8px;
  margin-left: -1.5em;
  background-color: #ebebeb;
  width: 3em;
  text-align: center;
  color: #2b2a2a; }

.hero-bg {
  background-position: center center;
  background-size: cover;
  bottom: 0;
  float: none;
  left: 0;
  margin: 0;
  min-height: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background-image: url(../images/hero-pic.jpg); }

.hero-content-container {
  height: 100%;
  display: table;
  width: 100%;
  padding-top: 40px;
  z-index: 2;
  position: relative; }

.hero-content {
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
  text-align: center;
  color: #fff; }

.hero-content h1,
.post h1 {
  letter-spacing: 1px;
  margin-top: 0px;
  display: block;
  font-size: 1.7em;
  line-height: 30px;
  margin-bottom: 35px;
  color: #f68320;
  font-weight: 700;
  font-family: "Barrio", cursive, sans-serif; }

.tab-pane .hero-content h1 {
  line-height: 25px;
  font-size: 1.7em;
  margin-bottom: 15px; }

.hero-content h2 {
  font-size: 20px; }

.tab-content .hero-content h2 {
  color: #2b2a2a;
  margin-top: 5px;
  margin-bottom: 25px; }

.hero-icons {
  position: absolute;
  z-index: 1;
  bottom: 5px;
  width: 100%; }

.hero-icons ul {
  margin: 0px;
  padding: 0px;
  list-style: none; }

.hero-icons ul li {
  width: 60px;
  height: 66px;
  float: left;
  margin: 5px; }

.hero-icons ul li a {
  position: relative;
  display: block;
  border-radius: 2px; }

.hero-icons ul li img {
  max-width: 100%; }

.hero-content .main-search {
  margin-top: 10px;
  margin-bottom: 15px; }

.hero-content input[type="text"],
.hero-content input[type="password"],
.hero-content input[type="date"],
.hero-content select,
.hero-content textarea {
  border: none;
  outline: none;
  margin: 0 0 10px 0;
  padding: 0 15px;
  background: #ffffff;
  color: #111;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 20px;
  height: 40px;
  width: 360px;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 600; }

.hero-content textarea {
  padding: 7px 15px;
  height: 110px; }

.social-box a {
  max-width: 360px;
  margin: 0 auto;
  border-radius: 20px;
  margin-bottom: 10px; }

.hero-content select {
  position: relative;
  background-image: linear-gradient(45deg, transparent 52%, gray 52%), linear-gradient(142deg, gray 48%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 22px) calc(1.2em + 2px), calc(100% - 16px) calc(1.2em + 2px), calc(100% - 2.9em) 0.4em;
  background-size: 7px 7px, 7px 7px, 1px 2.4em;
  background-repeat: no-repeat;
  line-height: 1.5em;
  padding: 0.5em 2.9em 0.5em 1em; }

.hero-content select span {
  content: "f0ab";
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #f00;
  position: absolute;
  right: 15px; }

.hero-content input[type="submit"] {
  color: #fff;
  background: #f68320;
  border: none;
  height: 40px;
  max-width: 240px;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin: 0 0 12px -5px;
  padding: 0 20px;
  border-radius: 20px;
  cursor: pointer; }

.nav.nav-tabs {
  display: inline-block;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  border-radius: 5px;
  counter-reset: flag;
  border: 0px;
  margin-bottom: 30px; }

.nav.nav-tabs li a {
  text-decoration: none;
  outline: none;
  display: block;
  float: left;
  font-size: 13px;
  line-height: 40px;
  color: white;
  padding: 0 26px 0 60px;
  background: #666;
  background: linear-gradient(#666, #333);
  position: relative;
  border: 0px; }

.nav.nav-tabs li:first-child a {
  padding-left: 46px;
  border-radius: 5px 0 0 5px; }

.nav.nav-tabs li.active a,
.nav.nav-tabs li a:hover,
.nav.nav-tabs li a:focus {
  background: #333;
  background: linear-gradient(#333, #000);
  border: 0px;
  color: #f68320; }

.nav.nav-tabs li.active a:before,
.nav.nav-tabs li a:hover:before,
.nav.nav-tabs li a.focus:before {
  background: #fff;
  background: linear-gradient(#fff, #f7f7f7);
  color: #2b2a2a; }

.nav.nav-tabs li.active a:after,
.nav.nav-tabs li a:hover:after,
.nav.nav-tabs li a:focus:after {
  background: #333;
  background: linear-gradient(135deg, #333, #000); }

.nav.nav-tabs li a:before {
  content: counter(flag);
  counter-increment: flag;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin: 8px 0;
  position: absolute;
  top: 0;
  left: 30px;
  background: #444;
  background: linear-gradient(#444, #222);
  font-weight: bold;
  text-align: center; }

.nav.nav-tabs li:first-child a:before {
  left: 14px; }

.nav.nav-tabs li a:after {
  content: '';
  position: absolute;
  top: 0;
  right: -20px;
  width: 42px;
  height: 40px;
  transform: scale(0.707) rotate(45deg);
  z-index: 1;
  background: #666;
  background: linear-gradient(135deg, #666, #333);
  box-shadow: 2px -2px 0 2px rgba(0, 0, 0, 0.4), 3px -3px 0 2px rgba(255, 255, 255, 0.1);
  border-radius: 0 5px 0 50px; }

#main-container {
  padding: 30px 0;
  background: #fff;
  margin-top: 20px;
  position: relative; }

.half_grey {
  background: #fff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 50%; }

.advantage_box_right li {
  height: 54px;
  line-height: 54px; }

#main-container h2 {
  position: relative;
  color: #f68320;
  z-index: 1;
  font-size: 2em;
  font-family: "Barrio", cursive, sans-serif; }

.section-title h2:before, .section-title h2:after {
  position: absolute;
  left: 50%;
  bottom: -12px;
  background-color: #dddddd;
  height: 2px;
  content: ""; }

.section-title h2:before {
  width: 100px;
  margin-left: -50px; }

.section-title h2:after {
  width: 39px;
  background-color: #f68320;
  margin-left: -19.5px;
  border-left: 7px solid #fff;
  border-right: 7px solid #fff; }

.features-icon-box {
  display: table;
  margin-bottom: 0;
  position: relative;
  padding: 10px 0;
  cursor: pointer; }

.features-icon {
  display: table-cell;
  font-size: 40px;
  color: #2b2a2a; }

.features-content {
  display: table-cell;
  padding-left: 20px;
  vertical-align: top;
  font-size: 14px;
  color: #2b2a2a; }

.features-content h4 {
  margin-top: 6px;
  font-size: 16px; }

.advantage_box {
  padding: 15px 0;
  display: table; }

.advantage_box h3 {
  color: #2b2a2a;
  margin-top: 0em;
  font-family: "Barrio", cursive, sans-serif;
  font-size: 1.37em; }

.adv-cust {
  position: relative;
  padding: 20px; }

.adv-cust:before {
  content: "";
  width: 1px;
  height: 84%;
  position: absolute;
  left: 50%;
  top: 8%;
  background: #cacaca;
  bottom: 0;
  display: block; }

.signin {
  display: none; }

.signup-wrap {
  display: none; }

.advantage_box ul {
  margin: 0px;
  padding: 0px;
  list-style: none; }

.advantage_box ul li {
  font-size: 17px;
  padding: 8px 0;
  list-style-type: circle; }

/*-- start paoste page --*/
.inn-profile-card {
  border: 1px dashed #ccc;
  padding: 10px;
  max-width: 680px;
  margin: 20px auto; }

.profile-left {
  text-align: center; }

.profile-left img {
  max-width: 200px;
  margin: 10px auto;
  margin-top: 0px;
  display: block; }

.profile-info-right h2 {
  margin-top: 3px;
  font-size: 23px;
  color: #f68320; }

.description {
  border-bottom: 1px dashed #ccc;
  margin-bottom: 15px; }

.inn-profile-card p span {
  font-weight: 600; }

.my-acc-left-side {
  min-width: 220px;
  padding: 0 20px 100px 42px; }

.left-profile img {
  width: 200px;
  margin: 0 auto;
  display: block;
  border-radius: 100px;
  margin-bottom: 10px;
  height: 200px;
  border: 3px solid #ccc; }

.left-profile p {
  text-align: center;
  font-size: 20px;
  margin-bottom: 0px;
  color: #f68320;
  font-weight: 600; }

.left-profile {
  padding: 20px 0;
  border: 1px solid #ccc;
  margin-bottom: 0px;
  background: #f7f7f7; }

.my-acc-right-side .hero-content {
  padding-top: 3%;
  min-height: 266px;
  border-bottom: 1px dashed #ccc; }

.my-acc-right-side .hero-content select {
  border: 1px solid #333;
  margin: 15px 0; }

.my-acc-right-side .hero-content input[type="submit"] {
  max-width: 155px;
  margin: 10px; }

.linksBox {
  list-style: none;
  margin: 0px;
  padding: 0px;
  background: #f7f7f7;
  border: 1px solid #ccc; }

.linksBox li a {
  border-bottom: 1px solid #ccc;
  padding: 10px 10px 10px 25px;
  font-size: 16px;
  display: block; }

.linksBox li {
  position: relative; }

.inn-profile-card p {
  margin-bottom: 5px;
  margin-top: 5px; }

.inn-profile-card .col-sm-4 {
  border-right: 1px dashed #ccc; }

.bottom-link ul {
  text-align: center;
  margin: 0px;
  padding: 0px;
  list-style: none; }

.bottom-link ul li {
  display: inline-block; }

.bottom-link ul li a {
  color: #2b2a2a;
  padding: 10px 12px;
  display: block;
  font-size: 16px;
  color: #5ab0ed;
  font-weight: 600;
  text-transform: capitalize; }

.site-footer {
  background: #343c44;
  color: #ddd;
  padding: 0 0 1.1% 0;
  font-size: 14px;
  display: inline-block;
  width: 100%;
  position: relative;
  z-index: 1; }

.footer-bottom {
  display: inline-block;
  width: 100%;
  padding-top: 2%; }

.footer-navigation {
  display: inline-block; }

.footer-navigation ul {
  margin: 0; }

.footer-navigation li {
  display: inline-block;
  list-style: none;
  margin-right: 10px; }

.site-footer, .site-footer a {
  color: rgba(255, 255, 255, 0.8); }

.footer-navigation + .footer-tagline {
  float: right;
  min-width: 25%;
  text-align: right; }
