<div class="row">
    <div class="col-sm-12">
        <div class="well">
            <h1><?= date('F d, Y') ?></h1>
            <h3><?= __('Welcome') ?><strong><?php //$Auth->user('email') ?></strong></h3>
        </div>
    </div>
</div>
