   
   <div class="banner-half">
     <div class="container">
       <h1>Our tutors</h1>
       <h5>Salvia next level crucifix pickled heirloom synth</h5>
     </div>
   </div>
  
    <section id="main-container"> 
     
      <div class="container">
       <div class="top-tutor">
      <div class="container">
        <div class="row">
         <div class="col-sm-4">
           <div class="tutor-box">
             <h2>Robert smith</h2>
             <h3>Professor</h3>
             <img src="<?= $this->request->base ?>/img/72_demo-2.jpg" class="img-circle img-responsive" alt="tutor">
             <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
           </div>
         </div>
         
         <div class="col-sm-4">
           <div class="tutor-box">
             <h2>Robert smith</h2>
             <h3>Professor</h3>
             <img src="<?= $this->request->base ?>/img/72_demo-2.jpg" class="img-circle img-responsive" alt="tutor">
             <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
           </div>
         </div>
         
         <div class="col-sm-4">
           <div class="tutor-box">
             <h2>Robert smith</h2>
             <h3>Professor</h3>
             <img src="<?= $this->request->base ?>/img/72_demo-2.jpg" class="img-circle img-responsive" alt="tutor">
             <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
           </div>
         </div>
         
         <div class="col-sm-4">
           <div class="tutor-box">
             <h2>Robert smith</h2>
             <h3>Professor</h3>
             <img src="<?= $this->request->base ?>/img/72_demo-2.jpg" class="img-circle img-responsive" alt="tutor">
             <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
           </div>
         </div>
         
         <div class="col-sm-4">
           <div class="tutor-box">
             <h2>Robert smith</h2>
             <h3>Professor</h3>
             <img src="<?= $this->request->base ?>/img/72_demo-2.jpg" class="img-circle img-responsive" alt="tutor">
             <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
           </div>
         </div>
         
         <div class="col-sm-4">
           <div class="tutor-box">
             <h2>Robert smith</h2>
             <h3>Professor</h3>
             <img src="<?= $this->request->base ?>/img/72_demo-2.jpg" class="img-circle img-responsive" alt="tutor">
             <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
           </div>
         </div>
         
         <div class="col-sm-4">
           <div class="tutor-box">
             <h2>Robert smith</h2>
             <h3>Professor</h3>
             <img src="<?= $this->request->base ?>/img/72_demo-2.jpg" class="img-circle img-responsive" alt="tutor">
             <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
           </div>
         </div>
         
         <div class="col-sm-4">
           <div class="tutor-box">
             <h2>Robert smith</h2>
             <h3>Professor</h3>
             <img src="<?= $this->request->base ?>/img/72_demo-2.jpg" class="img-circle img-responsive" alt="tutor">
             <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
           </div>
         </div>
         
         <div class="col-sm-4">
           <div class="tutor-box">
             <h2>Robert smith</h2>
             <h3>Professor</h3>
             <img src="<?= $this->request->base ?>/img/72_demo-2.jpg" class="img-circle img-responsive" alt="tutor">
             <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
           </div>
         </div>
         
        </div>
      </div>
    </div> 
      </div>
    </section>
